<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body > div { margin: 10px 0 }
  </style>
</head>
<body>
  <h1> Vue Template test</h1>
  <h2>v-for</h2>
  <ul id="example-1">
    <li v-for="item in items">
      {{ item.message }}
    </li>
  </ul>
  <h2>v-for of</h2>
  <ul id="example-2">
    <li v-for="(item, index) of items">
      {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
  </ul>
  <h2>v-for obj</h2>
  <ul id="example-3" class="demo">
    <li v-for="(value,key,index) in object">
     {{ index }} . {{ key }} : {{ value }}
    </li>
  </ul>
  <h2>v-for obj key</h2>
  <p>key 는 Vue가 노드를 식별하는 일반적 메커니즘 v-for과 연관 없</p>
  <ul id="example-4" class="demo">
    <li v-for="item in items" :key="item.id">
     {{ item }}
    </li>
  </ul>
  <h2>watching array change</h2>
  <p>key 는 Vue가 노드를 식별하는 일반적 메커니즘 v-for과 연관 없</p>
  <ul id="example-5" class="demo">
    <li v-for="item in items" :key="item.id">
     {{ item }}
    </li>
  </ul>

  <h2>watching object change</h2>
  <div id="example-6">
    {{ userProfile.name }} {{ userProfile.age }} 
  </div>
  <h2>filter and sort</h2>
  <div id="example-7">
    <ul>
        <!-- <li v-for="n in evenNumbers">{{ n }}</li> -->
        <li v-for="n in even(numbers)">{{ n }}</li>
    </ul>
  </div>
  <h2>Range v-for</h2>
  <div id="example-8">
    <span v-for="n in 10"> {{ n }} </span>
  </div>
  <h2>V-for Template</h2>
  <div id="example-9">
    <template v-for="item in items">
      <li>{{ item.msg }}</li>
      <li class="divider"></li>
    </template>
    <hr>
    <li v-for="item in items" v-if="!item.isComplete">{{ item.msg }}</li>
  </div>
  <div id="example-10">
    <input type="text"
    v-model="newTodoText"
    v-on:keyup.enter="addNewTodo"
    placeholder="Add a todo"
    >
    <ul>
      <li
        is="todo-item"
        v-for="(todo, index) in todos"
        v-bind:key="todo.id"
        v-bind:title="todo.title"
        v-on:remove="todos.splice(index, 1)"
      ></li>
    </ul>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <script src="vue_list_render.js"></script>
</body>
</html>